<div class="chartWithTimeLine" style="display: flex; flex-direction: column; width: 100%; height: 80%; margin-bottom: 2em; align-items: center;">
    <h4 style="display: flex; justify-content: center;">Chart with line that represents real time</h4>
    <canvas id="LineWithLine" width="900" height="200"></canvas>
</div>
<div class="draggableChart" style="display: flex; flex-direction: column; width: 100%; height: 80%; margin-bottom: 2em; align-items: center;">
    <h4 style="display: flex; justify-content: center;">Chart with draggable points</h4>
    <canvas id="draggableChart" width="900" height="200"></canvas>
</div>
<!-- <div class="chartWithTimeLine" style="display: flex; flex-direction: column; width: 100%; height: 50vh;">
    <h4 style="display: flex; justify-content: center;">Chart with line that represents real time</h4>
    <canvas id="LineWithLine" width="900" height="200"></canvas>
</div> -->
